.hero_wrapper {
  background-color: #0beef9;
  background-image: linear-gradient(215deg, #48a9fe 0, #0beef9 64%);
  clip-path: ellipse(100% 66% at 22% 27%);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 160px 0;
}
.hero .img_wrap {
  margin-right: 120px;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.hero__img {
  width: 100%;
  /* position: absolute;
  left: 10%;
  bottom: 50%; */
  /* transform: translateY(45%) rotate(-10deg) scale(1.1); */
  /* animation: moveInBottom 0.5s ease-out 0.65s; */
  /* animation-fill-mode: backwards; */
}

.hero__text-box {
  /* position: absolute;
  right: 0;
  bottom: 40%; */
  /* width: 50%; */
  /* animation: moveInRight 0.5s ease-out 0.65s; */
  /* animation-fill-mode: backwards; */
}

.hero .heading-primary {
  font-size: 6rem;
  margin-bottom: 30px;
}
.hero .paragraphy {
  font-size: 3rem;
}

@media (max-width: 56.25em) {
  .hero {
    flex-direction: column;
    padding: 40px 0 190px 0;
  }

  .hero .img_wrap {
    margin: 0 0 20px 0;
  }
  .hero .heading-primary,
  .hero .paragraphy {
    text-align: center;
  }
  .hero__img {
    /* left: 50%; */
    /* bottom: 40%; */
    /* transform: translate(-50%, 45%) rotate(-10deg) scale(1.5); */
    /* animation: moveInBottomTab 0.5s ease-out 0.65s;
    animation-fill-mode: backwards; */
  }
  .hero__text-box {
    /* top: 15%;
    left: 50%; */
    /* transform: translateX(-50%); */
    /* animation: moveInRightTab 0.5s ease-out 0.65s; */
    /* animation-fill-mode: backwards; */
  }
}

@media (max-width: 56.25em) {
  .hero_wrapper {
    clip-path: none;
  }
}
@media (max-width: 36.5em) {
  .hero {
    padding: 30px 0 70px 0;
  }
}
