.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  color: #40514e;
}
.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  color: #30e3ca;
}
.heading-secondary--operations {
  font-size: 2rem;
  font-weight: 700;
  color: #40514e;
}
.heading-tertiary {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  color: #40514e;
  border-bottom: 5px solid #40514e;
}
.paragraph {
  font-size: 1.5rem;
  color: #40514e;
}
@media (max-width: 56.25em) {
  .heading-primary,
  .heading-secondary {
    text-align: center;
  }
}
@media (max-width: 28.25em) {
  .paragraph {
    font-size: 1rem;
  }
}
.paragraphy {
  font-size: 2rem;
  color: #40514e;
}

.u-center-text {
  text-align: center;
}
.u-right-text {
  text-align: right;
}
.u-left-text {
  text-align: left;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-small {
    margin-bottom: 0.5rem;
  }
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-medium {
    margin-bottom: 1rem;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-big {
    margin-bottom: 3rem;
  }
}
.u-margin-top-bigger {
  margin-top: 15rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-bigger {
    margin-top: 8rem;
  }
}
.u-margin-top-big {
  margin-top: 8rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-big {
    margin-top: 3rem;
  }
}
.u-margin-top-medium {
  margin-top: 4rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-medium {
    margin-top: 1rem;
  }
}
.u-margin-top-small {
  margin-top: 1.5rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-small {
    margin-top: 0.5rem;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(45%) rotate(0) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(-10deg) scale(1.1);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  75% {
    transform: translateX(-1.5rem);
    opacity: 0.7;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media (max-width: 37.5em) {
  .row {
    max-width: 50rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 37.5em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col"] {
  float: left;
}
.row [class^="col"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 37.5em) {
  .row [class^="col"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 37.5em) {
  .row [class^="col"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 12rem);
}
